@page "/reviewer"
@attribute [Authorize]
@inject IApplicationService applicationService

<h3 class="m-3">Applications</h3>
@if (applications is not null && applications.TotalCount > 0)
{
    <MudGrid Spacing="@spacing">
        @foreach (var application in applications.Items)
        {
            <MudItem>
                <MudCard>
                    <MudCardContent>
                        <MudText>Applicant: @application.Username</MudText>
                        <MudText Typo="Typo.body2">Vacancy: @application.VacancyTitle</MudText>
                    </MudCardContent>

                    <MudText Typo="Typo.subtitle1" class="ml-4 text-primary">@application.StatusName</MudText>

                    <MudCardActions>
                        <MudButton OnClick="@((e) => OpenDialog(maxWidth, application.CoverLetter, application.VacancyResponses, application.Slug, application.StatusName))">Show more</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
else
{
    <h5>There are no applications. You can go and take a nap!</h5>
}
@code {
    string message = "Loading...";
    public int spacing { get; set; } = 2;
    private PagedList<ApplicationListDto> applications;
    protected override async Task OnInitializedAsync()
    {
        var response = await applicationService.GetAllApplications();
        if (response is not null)
        {
            applications = response;
            message = string.Empty;
        }
    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    private void OpenDialog(DialogOptions options, string coverLetter, IEnumerable<VacancyResponseDto> vacancyResponses, string slug, string statusName)
    {
        Dialog.Show<MyDialog>("Applicant response", new DialogParameters { { "CoverLetter", coverLetter }, {"VacancyResponses", vacancyResponses }, { "Slug", slug}, { "StatusName", statusName} }, options);
    }
}