@page "/login"
@using Microsoft.AspNetCore.WebUtilities
@layout MainLayout
@inject IAuthService AuthService
@inject ISnackbar Snackbar
@inject IContentService ContentService
@inject LayoutService LayoutService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudGrid Justify="Justify.Center" Class="align-items-center">
    <MudItem xs="12" sm="8" md="6" lg="3">
        <EditForm Model="@_loginCommand" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
            <MudCard>
                <MudCardHeader>
                    <CardHeaderActions>
                        <ToolBarSettingsButtons/>
                    </CardHeaderActions>
                    <CardHeaderContent>
                        <div class="d-flex flex-grow-1">
                            <div class="flex-none d-flex justify-content-center">
                                <a href="">
                                    <MudImage Src="/images/srp_icon.png" Height="45"/><br/>
                                </a>
                            </div>
                            <div class="flex-initial d-flex py-1">
                                <MudText Typo="Typo.h4">
                                    <strong>@ContentService["SignIn:SignIn"]</strong>
                                </MudText>
                            </div>
                        </div>
                        <MudText>
                            @ContentService["SignIn:LabelDontAccount"] <MudLink Href="@($"registration?callback={callback}&page={page}")"> @ContentService["SignIn:LinkSignUp"]</MudLink>
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="@ContentService["SignIn:UserName"]"
                                  @bind-Value="_loginCommand.Username" For="@(() => _loginCommand.Username)"/>

                    <MudTextField Label="@ContentService["SignIn:Password"]"
                                  @bind-Value="_loginCommand.Password" For="@(() => _loginCommand.Password)" InputType="InputType.Password"/>
                    <br/>
                    <MudText >
                        @ContentService["SignIn:LabelForgot"] <MudLink href="/resetPassword">@ContentService["SignIn:LinkReset"]</MudLink>
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth="true">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
							<MudText Class="ms-2">@ContentService["VacancyApplication:Processing"]</MudText>
						}
                        else
                        {
                            <MudText>@ContentService["SignIn:SignIn"]</MudText>
                        }
                    </MudButton>
                </MudCardActions>
                <div style="padding:5px">
                    <div style="text-align: center;">
                        @* <ExternalLoginCard Title="Continue With"/> *@

                    </div> <br/>
                </div>
            </MudCard>

        </EditForm>

    </MudItem>
</MudGrid>


@code {
    private LoginUserCommand _loginCommand = new();
    private bool _processing;
    string callback = string.Empty;
    string page = string.Empty;

    private async Task OnValidSubmit(EditContext context)
    {
        _processing = true;
        StateHasChanged();
        var loginMessage = await AuthService.LoginUserAsync(_loginCommand);
        if (loginMessage != "" || loginMessage != null)
            Snackbar.Add(loginMessage, MudBlazor.Severity.Error);
        _processing = false;
        StateHasChanged();
    }

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/");
            return;
        }
        var currentUri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        if (QueryHelpers.ParseQuery(currentUri.Query).TryGetValue("callback", out var param))
            callback = param;
        if (QueryHelpers.ParseQuery(currentUri.Query).TryGetValue("page", out param))
            page = param;
        StateHasChanged();
    }

}