@page "/ApplicationDetail/{Slug}/{ApplicationUserName}"
@page "/ApplicationDetail/{Slug}"
@using MRA.Jobs.Application.Contracts.Applications.Commands.AddNote
@using MRA.Identity.Application.Contract.Profile.Responses
@using MRA.Jobs.Client.Services.Profile
@using System.Net
@using Microsoft.IdentityModel.Tokens
@using MRA.BlazorComponents.Configuration
@using MRA.Jobs.Client.Components.Dialogs
@using MRA.Jobs.Client.Identity

@inject IApplicationService ApplicationService
@inject IUserProfileService UserProfileService
@inject IConfiguration Configuration
@inject IDialogService DialogService

<MudGrid>
    <MudItem xs="12">
        <MudCard>
            @if (_application == null)
            {
                <div style="text-align: center;">
                    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true"/>
                </div>
            }
            else
            {
                <MudCardContent>
                    <MudText Typo="Typo.h6" Style="color: grey">
                        <b>@ContentService["VacancyApplication:Cover Letter"]</b>
                    </MudText>
                    @_application.CoverLetter
                    <MudList>
                        @if (_application.VacancyResponses.Any())
                        {
                            <MudListSubheader>
                                @ContentService["VacancyApplication:Questions"]
                            </MudListSubheader>
                            @foreach (var response in _application.VacancyResponses)
                            {
                                <MudListItem Icon="@Icons.Material.Filled.QuestionMark" IconColor="Color.Info" Text="@response.VacancyQuestion.Question">
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.QuestionAnswer" IconColor="Color.Info">
                                    @response.Response
                                </MudListItem>
                            }
                        }
                    </MudList>
                    <MudGrid>
                        <MudItem xs="6">
                            <MudText> @ContentService["Applicateons:Status"]: <b>@(((ApplicationStatusDto.ApplicationStatus)_application.StatusId).ToString())</b></MudText>
                        </MudItem>
                        <MudItem xs="6">
                            <MudButton Variant="Variant.Filled" Color="Color.Surface" style="margin-bottom: 10px" Href="@_cvUrl">
                                <MudIcon Icon="@Icons.Material.Filled.Download"></MudIcon>@ContentService["Dashboard:Appilcations:More:CVButton"]
                            </MudButton>
                        </MudItem>
                    </MudGrid>
                    <MudText Typo="Typo.h6">Email:</MudText>

                    <CascadingAuthenticationState>
                        <AuthorizeView Policy="@ApplicationPolicies.Reviewer" Context="_">
                            <Authorized>
                                <MudGrid>
                                    <MudItem lg="6" xs="12">
                                        <MudSelect T="string" Label=@ContentService["Applicateons:Selectstatus"]
                                                   AnchorOrigin="Origin.BottomCenter" @bind-Value="@SelectedStatus">
                                            @foreach (var status in Enum.GetValues(typeof(ApplicationStatusDto.ApplicationStatus)))
                                            {
                                                <MudSelectItem Value="@status.ToString()"/>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem lg="6" xs="12">
                                        <MudRadioGroup T="SendEmailVariant" @bind-SelectedOption="@_emailVariant" @onselectionchange="@(() => StateHasChanged())">
                                            <MudRadio Option="@SendEmailVariant.NotSend" Color="Color.Primary">@SendEmailVariant.NotSend</MudRadio>
                                            <MudRadio Option="@SendEmailVariant.CustomEmail" Color="Color.Primary">@SendEmailVariant.CustomEmail</MudRadio>
                                            <MudRadio Option="@SendEmailVariant.AutoEmail" Color="Color.Primary">@SendEmailVariant.AutoEmail</MudRadio>
                                        </MudRadioGroup>
                                        @if (_emailVariant == SendEmailVariant.CustomEmail)
                                        {
                                            <MudText Typo="Typo.body2">Subject:</MudText>
                                            <MudTextField T="string" @bind-Value="_emailSubject" Variant="Variant.Outlined"/>
                                            <MudText Typo="Typo.body2">Text:</MudText>
                                            <div>
                                                <BlazoredTextEditor @ref="@_quillHtml">
                                                    <ToolbarContent>
                                                        <span class="ql-formats">
                                                            <select class="ql-font">
                                                                <option selected=""></option>
                                                                <option value="serif"></option>
                                                                <option value="monospace"></option>
                                                            </select>
                                                            <select class="ql-size">
                                                                <option value="small"></option>
                                                                <option selected=""></option>
                                                                <option value="large"></option>
                                                                <option value="huge"></option>
                                                            </select>
                                                        </span>
                                                        <span class="ql-formats">
                                                            <button class="ql-bold"></button>
                                                            <button class="ql-italic"></button>
                                                            <button class="ql-underline"></button>
                                                            <button class="ql-strike"></button>
                                                        </span>
                                                        <span class="ql-formats">
                                                            <select class="ql-color"></select>
                                                            <select class="ql-background"></select>
                                                        </span>
                                                        <span class="ql-formats">
                                                            <button class="ql-list" value="ordered"></button>
                                                            <button class="ql-list" value="bullet"></button>
                                                            <button class="ql-indent" value="-1"></button>
                                                            <button class="ql-indent" value="+1"></button>
                                                            <select class="ql-align">
                                                                <option selected=""></option>
                                                                <option value="center"></option>
                                                                <option value="right"></option>
                                                                <option value="justify"></option>
                                                            </select>
                                                        </span>
                                                        <span class="ql-formats">
                                                            <button class="ql-link"></button>
                                                        </span>
                                                    </ToolbarContent>
                                                    <EditorContent>

                                                    </EditorContent>
                                                </BlazoredTextEditor>
                                            </div>
                                        }
                                    </MudItem>
                                </MudGrid>

                                <ProgressTaskButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" Function="ChangeStatus">
                                    <MudText>
                                        @ContentService["Applicateons:Changestatus"]
                                    </MudText>
                                </ProgressTaskButton>
                            </Authorized>
                        </AuthorizeView>
                    </CascadingAuthenticationState>
                </MudCardContent>
            }
        </MudCard>
    </MudItem>
    <CascadingAuthenticationState>
        <AuthorizeView Policy="@ApplicationPolicies.Reviewer">
            <Authorized>
                <MudItem xs="12" lg="6">

                    <MudCard>
                        <MudCardContent>
                            <MudText Style="color: grey" Typo="Typo.h6">
                                <b>@ContentService["Applicateons:Notes"]</b>
                            </MudText>
                            @if (_application == null)
                            {
                                <div style="text-align: center;">
                                    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true"/>
                                </div>
                            }
                            else
                            {
                                <div style="align-content: center; align-items: center;">
                                    <MudTimeline TimelinePosition="TimelinePosition.Start">
                                        @foreach (var item in _application.History)
                                        {
                                            <MudTimelineItem Size="Size.Medium" Color="Color.Info" Elevation="25">
                                                <MudCard Elevation="25">
                                                    <MudCardContent>

                                                        <MudStack Row="true">
                                                            <MudLink Href="@($"user/{item.CreateBy}")">
                                                                <MudStack Row="true">
                                                                    <MudAvatar Size="Size.Small">
                                                                        @item.CreateBy[0].ToString().ToUpper()
                                                                    </MudAvatar>
                                                                    <MudText Color="Color.Primary">
                                                                        <b>@item.CreateBy</b>
                                                                    </MudText>
                                                                </MudStack>
                                                            </MudLink>
                                                            <MudSpacer/>
                                                            <MudText Typo="Typo.body2">@item.Time</MudText>
                                                        </MudStack>
                                                        @if (item.EventType == ApplicationStatusDto.TimelineEventType.Note)
                                                        {
                                                            <MudExpansionPanels MultiExpansion="true">
                                                                <MudExpansionPanel Text="Note">
                                                                    <MudText>@((MarkupString)item.Note)</MudText>
                                                                </MudExpansionPanel>
                                                            </MudExpansionPanels>
                                                        }
                                                        else
                                                        {
                                                            <MudText>@((MarkupString)item.Note)</MudText>
                                                        }
                                                    </MudCardContent>
                                                </MudCard>
                                            </MudTimelineItem>
                                        }
                                    </MudTimeline>
                                </div>
                            }
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" lg="6">
                    <ProgressTaskButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Function="OnAddNoteAsync">
                        <MudText>
                            <MudText>@ContentService["Applicateons:AddNote"]</MudText>
                        </MudText>
                    </ProgressTaskButton>
                </MudItem>
            </Authorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</MudGrid>

@code {

    private AddNoteToApplicationCommand _addNoteCommand = new();
    private string SelectedStatus { get; set; }


    [Parameter] public string Slug { get; set; }
    [Parameter] public string ApplicationUserName { get; set; }
    private string _cvUrl;

    private UpdateApplicationStatusCommand _applicationStatusCommand;
    private UserProfileResponse _applicant;
    private ApplicationDetailsDto _application;
    BlazoredTextEditor _quillHtml;
    private SendEmailVariant _emailVariant = SendEmailVariant.NotSend;
    private string _emailSubject = "";

    private async Task LoadApplication()
    {
        _application = await ApplicationService.GetApplicationDetails(Slug);
        StateHasChanged();
        if (_application.History.Any())
            _application.History = _application.History.OrderByDescending(h => h.Time).ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        _applicant = await UserProfileService.Get(ApplicationUserName);
        await LoadApplication();
        _cvUrl = $"{Configuration.GetJobsUrl()}applications/downloadCv/{WebUtility.UrlEncode(_application.CV)}";
        SelectedStatus = ((ApplicationStatusDto.ApplicationStatus)_application.StatusId).ToString();
        StateHasChanged();
    }

    private async Task OnAddNoteAsync()
    {
        var dialog = await DialogService.ShowAsync<DialogAddNote>("Add Note", new DialogParameters(),
            new() { MaxWidth = MaxWidth.Large });
        var result = await dialog.Result;
        if (result.Canceled) return;
        var note = result.Data.ToString();
        if (note.IsNullOrEmpty()) return;
        try
        {
            _addNoteCommand.Slug = Slug;
            _addNoteCommand.Note = note;
            var response = await ApplicationService.AddNote(_addNoteCommand);
            _application.History.Add(response);
            _application.History = _application.History.OrderByDescending(h => h.Time).ToList();
            _addNoteCommand = new AddNoteToApplicationCommand();
        }
        catch (Exception)
        {
            // ignored
        }
    }

    private async Task ChangeStatus()
    {
        if (Enum.TryParse(SelectedStatus, out ApplicationStatusDto.ApplicationStatus selectedEnumStatus))
        {
            if (_emailVariant == SendEmailVariant.CustomEmail && _emailSubject.IsNullOrEmpty())
            {
                Snackbar.Add("Email Subject must not be empty.", Severity.Error);
                return;
            }

            _applicationStatusCommand = new UpdateApplicationStatusCommand
            {
                ApplicantUserName = ApplicationUserName,
                Slug = Slug,
                StatusId = (int)selectedEnumStatus,
                EmailVariant = _emailVariant
            };

            if (_emailVariant == SendEmailVariant.CustomEmail)
            {
                _applicationStatusCommand.EmailText = await _quillHtml.GetHTML();
                _applicationStatusCommand.EmailSubject = _emailSubject;
            }

            var response = await ApplicationService.UpdateStatus(_applicationStatusCommand);
            if (response)
            {
                await LoadApplication();
                _emailSubject = "";
                StateHasChanged();
                Snackbar.Add("Status updated successfully.", Severity.Success);
            }
            else
            {
                Snackbar.Add("Failed to update status", Severity.Error);
            }
        }
        else
        {
            Snackbar.Add("Invalid status selected.", Severity.Error);
        }
    }

}