@page "/"
@using MRA.Jobs.Client.Identity

<MudGrid Style="margin-top: 5%; margin-bottom: 10%">
    <MudItem xs="12" md="6" Style="padding: 10% 10% 0% 10%;">
        <MudText Typo="Typo.h2">
            <b>
                @ContentService["Home:Hero_Title_1"]
            </b>
        </MudText>
        <MudText Typo="Typo.h2" Color="Color.Primary">
            <b>
                @ContentService["Home:Hero_Title_2"]
            </b>
        </MudText>
        <MudText Typo="Typo.h6">
            @ContentService["Home:Hero_Content"]
        </MudText>
    </MudItem>
    <MudItem xs="12" md="6" Style="padding: 2%">
        <MudImage ObjectFit="ObjectFit.Cover" Style="width: 100%" Src="assets/img/slider1-min.jpeg" Alt="" Elevation="25"
                  Class="rounded-tr-md rounded-tl-xl rounded-br-xl rounded-bl-md mud-elevation-4"/>
    </MudItem>
</MudGrid>
<MudHidden Breakpoint="Breakpoint.MdAndDown">
    <MudGrid>
        <MudItem xs="12" md="6" Style="padding: 2%">
            <MudImage ObjectFit="ObjectFit.Cover" Style="width: 100%" Src="//www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider2-min.jpeg"
                      Alt="" Elevation="25" Class="rounded-tl-md rounded-tr-xl  rounded-bl-xl rounded-br-md mud-elevation-4"/>
        </MudItem>
        <MudItem xs="12" md="6" Style="padding:10%">
            <MudText Typo="Typo.h2">
                <b>
                    Build Amazing <span style="color: var(--mud-palette-primary)">Apps</span>
                </b>
            </MudText>
            <MudText Typo="Typo.h6">
                Always on the lookout for the hi-tech advancements. Build not only a product that can sell well, but a platform through which to deliver it.
            </MudText>
        </MudItem>
    </MudGrid>
</MudHidden>
<MudHidden Breakpoint="Breakpoint.LgAndUp">
    <MudGrid>
        <MudItem xs="12" md="6" Style="padding: 10% 10% 0% 10%;">
            <MudText Typo="Typo.h2">
                <b>
                    Build Amazing <span style="color: var(--mud-palette-primary)">Apps</span>
                </b>
            </MudText>
            <MudText Typo="Typo.h6">
                Always on the lookout for the hi-tech advancements. Build not only a product that can sell well, but a platform through which to deliver it.
            </MudText>
        </MudItem>
        <MudItem xs="12" md="6" Style="padding: 2%">
            <MudImage ObjectFit="ObjectFit.Cover" Style="width: 100%" Src="//www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider2-min.jpeg"
                      Alt="" Elevation="25" Class="rounded-tl-md rounded-tr-xl  rounded-bl-xl rounded-br-md mud-elevation-4"/>
        </MudItem>
    </MudGrid>
</MudHidden>

<MudGrid Style="margin-top: 10%">
    <MudItem xs="12" lg="12">
        <div style="text-align: center;">
            <MudText Typo="Typo.h2">
                <b>
                    <span style="color: #129fd7">@ContentService["Home:How"]</span> @ContentService["Home:WeWork"]
                </b>
            </MudText>
        </div>
    </MudItem>
    <MudItem xs="12" lg="12">
        <MudGrid Style="text-align: center">
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardContent>
                        <div style="padding: 10%">
                            <MudImage Src="images/planing.png" Style="width: 60%"/>
                        </div>
                        <MudText Typo="Typo.h5">
                            <b>
                                @ContentService["Home:Planning"]
                            </b>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardContent>
                        <div style="padding: 10%">
                            <MudImage Src="images/design.png" Style="width: 74%"/>
                        </div>
                        <MudText Typo="Typo.h5">
                            <b>
                                @ContentService["Home:Design"]
                            </b>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardContent>
                        <div style="padding: 10%">
                            <MudImage Src="images/development.png" Style="width: 77%"/>
                        </div>
                        <MudText Typo="Typo.h5">
                            <b>
                                @ContentService["Home:Development"]
                            </b>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

<MudGrid Style="margin-top: 10%">
    <MudItem xs="12">
        <MudText Typo="Typo.h2" Style="text-align: center">
            <b>
                <span style="color: var(--mud-palette-primary);">@ContentService["Home:What"]</span> @ContentService["Home:WeDo"]
            </b>
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudCard Class="rounded-lg mud-elevation-4" Style="padding: 10px;">
                    <MudCardContent>
                        <MudLink Href="https://www.silkroadprofessionals.com/service/web/" Target="_blank" Typo="Typo.h5">
                            <MudIcon Icon="@Icons.Material.Filled.Language" Size="Size.Large"/> @ContentService["Home:WebLinkTitle"]
                        </MudLink>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:WebServiceDescription"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Class="rounded-lg mud-elevation-4" Style="padding: 10px;">
                    <MudCardContent>
                        <MudLink Href="https://www.silkroadprofessionals.com/service/mobile/" Target="_blank" Typo="Typo.h5">
                            <MudIcon Icon="@Icons.Material.Filled.Smartphone" Size="Size.Large"/> @ContentService["Home:MobileServiceTitle"]
                        </MudLink>

                        <MudText Typo="Typo.h6">
                            @ContentService["Home:MobileServiceDescription"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Class="rounded-lg mud-elevation-4" Style="padding: 10px;">
                    <MudCardContent>
                        <MudLink Href="https://www.silkroadprofessionals.com/service/desktop/" Target="_blank" Typo="Typo.h5">
                            <MudIcon Icon="@Icons.Material.Filled.Laptop" Size="Size.Large"/> @ContentService["Home:DesktopServiceTitle"]
                        </MudLink>

                        <MudText Typo="Typo.h6">
                            @ContentService["Home:DesktopServiceDescription"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Class="rounded-lg mud-elevation-4" Style="padding: 10px;">
                    <MudCardContent>
                        <MudLink Href="https://www.silkroadprofessionals.com/service/cloud/" Target="_blank" Typo="Typo.h5">
                            <MudIcon Icon="@Icons.Material.Filled.Cloud" Size="Size.Large"/> @ContentService["Home:CloudServiceTitle"]
                        </MudLink>

                        <MudText Typo="Typo.h6">
                            @ContentService["Home:CloudServiceDescription"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

<MudGrid Style="margin-top: 10%">
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="12" md="6" lg="6" Style="padding: 2% 10% 0% 10%">
                <MudText Typo="Typo.h2">
                    <b>
                        @ContentService["Home:About"] @ContentService["Home:Us"]
                    </b>
                </MudText>
                <MudLink Typo="Typo.h5" Href="https://www.silkroadprofessionals.com/" Target="_blank">
                    <b>@ContentService["Home:AboutTitle"]</b>
                </MudLink>
                <MudText Typo="Typo.h6">
                    @ContentService["Home:AboutContent"]
                </MudText>
            </MudItem>
            <MudItem xs="12" md="6" lg="3">
                <MudCard Class="rounded-lg mud-elevation-4" Style="padding: 2%">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <MudIcon Icon="@Icons.Material.Filled.Bolt" Size="Size.Large"/> <b>@ContentService["Home:MissionTitle"]</b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:MissionContent"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6" lg="3">
                <MudCard Class="rounded-lg mud-elevation-4" Style="padding: 2%">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <MudIcon Icon="@Icons.Material.Filled.Bolt" Size="Size.Large"/> <b>@ContentService["Home:VisionTitle"]</b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:VisionContent"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>

        </MudGrid>
    </MudItem>
</MudGrid>

<MudGrid Style="margin-top: 10%">
    <MudItem xs="12">
        <MudText Typo="Typo.h2" Style="text-align: center">
            <b>
                <span style="color: #129fd7">@ContentService["Home:Principles"]</span>
            </b>
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                    @ContentService["Home:Agile"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:AgileDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                    @ContentService["Home:CodeQuality"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:CodeQualityDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                    @ContentService["Home:ContinualLearning"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:ContinualLearningDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                    @ContentService["Home:IntrinsicControl"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:IntrinsicControlDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                    @ContentService["Home:GlorifyGod"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:GlorifyGodDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                    @ContentService["Home:Productivity"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:ProductivityDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudItem>

</MudGrid>

<MudGrid Style="margin-top: 10%">
    <MudItem xs="12" md="6" Style="padding-left: 10%; padding-top: 10%;" Class="justify-content-center align-items-center">
        <MudText Typo="Typo.h2" Style="text-align: center">
            <b>
                <span style="color: #129fd7">@ContentService["Home:Meet"]</span>@ContentService["Home:OurTeam"]
            </b>
        </MudText>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <div style="text-align: center;">
            <MudButton Href="https://www.silkroadprofessionals.com/team/team/" Variant="Variant.Filled"
                       Color="Color.Primary" Target="_black" Style="">
             <MudText>   @ContentService["Home:ViewTeam"]</MudText>
            </MudButton>
        </div>
 </MudHidden>
    </MudItem>
    <MudItem xs="12" md="6" Style="padding: 2%">
        <MudImage Src="assets/uploads/2021/09/team-2.jpg" ObjectFit="ObjectFit.Cover" Elevation="25"
                  Class="rounded-lg mud-elevation-4" Style="width: 100%;"/>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <div style="text-align: center;">
                    <MudButton Href="https://www.silkroadprofessionals.com/team/team/" Variant="Variant.Filled"
                               Color="Color.Primary" Target="_black">
                      <MudText> @ContentService["Home:ViewTeam"]</MudText> 
                    </MudButton>
                </div>
         </MudHidden>
    </MudItem>
</MudGrid>

<div>

    <section id="pricing" class="pricing">
        <!--  Section Title -->
        <div class="container section-title">
            <h2>
                <span style="color: #129fd7;">@ContentService["Home:Client"]</span> @ContentService["Home:Partner"]
            </h2>
        </div>
        <!-- End Section Title -->

        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="pricing-item">

                        <div class="icon">
                            <img src="assets/img/Client&Partner/ParagonLogo.jpg"
                                 alt=""
                                 class="img-fluid rounded-circle-1"/>
                        </div>

                        <div class="text-center">
                            <p>
                                "We have found the Silk Road team to be very knowledgeable and
                                capable of delivering high quality software
                                that adheres to our specifications and the latest industry standards"
                            </p>
                            <h2>Anthony Martin</h2>
                            <h5>
                                Manager / Product Development
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-4">
                    <div class="pricing-item ">

                        <div class="icon">
                            <img src="assets/img/Client&Partner/Koblelogo-1.jpg"
                                 alt=""
                                 class="img-fluid rounded-circle-1">
                        </div>

                        <div class="text-center">
                            <p>
                                “Silk Road Professionals has been a valued partner since 2014.
                                We are working on a very large business management software project.
                                It is important to us to have long term programmers that are able to communicate well,
                                be innovative, and produce quality software for our 8,000+ users.
                                They have done an excellent job onboarding and keeping quality programmers.
                                We could not have accomplished this multi-year project without them”
                            </p>
                            <h2>Glenn Esh</h2>
                            <h5>CTO & Product Manager</h5>
                        </div>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-4">
                    <div class="pricing-item">

                        <div class="icon">
                            <img src="assets/img/Client&Partner/PestScanLogo.jpg"
                                 alt=""
                                 class="img-fluid rounded-circle-1">
                        </div>

                        <div class="text-center">
                            <p>
                                "Since 2020 we have been working with Silk Road Professionals. I am very happy we got to know them and that we decided to work together. Their efforts have boosted our development and consequently enabled us to faster gain a market share in our field of Pest Control Software. What I like about SRP is the short communication lines, their productive feedback on what we try to establish and their positive, cooperative attitude. I just love their core values and I see how they drive their day-to-day work."
                            </p>
                            <h2>Jan Smits</h2>
                            <h5>Founder of PestScan</h5>
                        </div>
                    </div>
                </div>
                <!-- End Pricing Item -->
            </div>
        </div>
    </section>
    <!-- End Pricing Section -->
    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">
        <!--  Section Title -->
        <div class="container section-title">
            <h2>@ContentService["Home:Contact"]</h2>
        </div>
        <!-- End Section Title -->

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-item">
                                <i class="bi bi-geo-alt"></i>
                                <h3>@ContentService["Home:Address"]</h3>
                                <p>@ContentService["Home:Address_p1"]</p>
                                <p>@ContentService["Home:Address_p2"]</p>
                            </div>
                        </div>
                        <!-- End Info Item -->
                        <!-- End Info Item -->

                        <div class="col-md-6">
                            <div class="info-item">
                                <i class="bi bi-envelope"></i>
                                <h3>@ContentService["Home:Email"]</h3>
                                <p>
                                    <a href="mailto:@ContentService["Home:EmailLink"]" target="_blank">@ContentService["Home:EmailLink"]</a>
                                </p>
                            </div>
                        </div>
                        <!-- End Info Item -->

                        <div class="col-md-6">
                            <div class="info-item">
                                <i class="bi bi-clock"></i>
                                <h3>@ContentService["Home:WorkingHours"]</h3>
                                <p>@ContentService["Home:WorkingHours1"]</p>
                                <p>@ContentService["Home:WorkingHours2"]</p>
                                <p>@ContentService["Home:WorkingHours3"]</p>
                            </div>
                        </div>
                        <!-- End Info Item -->

                    </div>
                </div>

                <div class="col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d446.4063398236372!2d69.51875677094101!3d40.21502901489877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b1afd1e0b7121b%3A0xb4e73f646b8e290!2sSilk%20Road%20Professionals%20LLC!5e0!3m2!1sru!2s!4v1692352594874!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- End Contact Form -->
            </div>
        </div>
    </section>
</div>
<!-- End Contact Section -->

@code {

    [Inject]
    private AuthenticationStateProvider authStateProvider { get; set; }

    [Inject]
    private NavigationManager navigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await authStateProvider.GetAuthenticationStateAsync();
        if (state.User.IsInRole(ApplicationClaimValues.Administrator) || state.User.IsInRole(ApplicationClaimValues.SuperAdmin))
        {
            navigationManager.NavigateTo("/userManager");
        }
        else if (state.User.IsInRole(ApplicationClaimValues.Reviewer))
        {
            navigationManager.NavigateTo("/dashboard/applications");
        }
    }

}