@page "/profile"
@using MRA.Identity.Application.Contract.Educations.Responses;
@using MRA.Identity.Application.Contract.Experiences.Responses;
@using MRA.Identity.Application.Contract.Profile;
@using MRA.Jobs.Client.Pages.Auth
@using MRA.Jobs.Client.Services.Profile;
@inject IContentService ContentService
@inject ISnackbar Snackbar

@inject NavigationManager Navigation
@inject IDialogService DialogService;
@inject IUserProfileService UserProfileService;
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_tryButton)
{
    <div style="text-align: center;">

        <MudText Typo="Typo.h4" Color="Color.Error">
            <b>@ContentService["Profile:Serverisnotresponding"]</b>
        </MudText><br/>

        <MudButton Variant="Variant.Filled" OnClick="Load">
            @if (_processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" Style="color:#fff"/>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Refresh"/>
                <MudText>Try Again</MudText>
            }
        </MudButton>
    </div>
}
else
{
    <MudGrid>
    <MudItem xs="12" sm="12" md="4" lg="3">
        <MudCard Class="rounded-lg mud-evaluation-4">
            <MudCardContent>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudNavMenu>
                        <MudText>@ContentService["Profile:MyProfile"]</MudText>

                        <MudDivider Class="my-2"/>

                        <MudNavLink Class="@((_active == 0) ? "active" : "")" OnClick="() => ActiveNavLink(0)">@ContentService["Profile:PersonalInformation"]</MudNavLink>
                        <MudNavLink Class="@((_active == 1) ? "active" : "")" OnClick="() => ActiveNavLink(1)">@ContentService["Profile:Educations"] </MudNavLink>
                        <MudNavLink Class="@((_active == 2) ? "active" : "")" OnClick="() => ActiveNavLink(2)">@ContentService["Profile:Experience"] </MudNavLink>
                        <MudNavLink Class="@((_active == 3) ? "active" : "")" OnClick="() => ActiveNavLink(3)">@ContentService["Profile:Skills"]</MudNavLink>
                        <MudNavLink Class="@((_active == 4) ? "active" : "")" OnClick="() => ActiveNavLink(4)">@ContentService["ResetPassword:Changepassword"]</MudNavLink>
                    </MudNavMenu>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudExpansionPanel Text="@ContentService["Profile:MyProfile"]">
                        <MudNavMenu>
                            <MudNavLink Class="@((_active == 0) ? "active" : "")" OnClick="() => ActiveNavLink(0)">@ContentService["Profile:PersonalInformation"]</MudNavLink>
                            <MudNavLink Class="@((_active == 1) ? "active" : "")" OnClick="() => ActiveNavLink(1)">@ContentService["Profile:Educations"] </MudNavLink>
                            <MudNavLink Class="@((_active == 2) ? "active" : "")" OnClick="() => ActiveNavLink(2)">@ContentService["Profile:Experience"] </MudNavLink>
                            <MudNavLink Class="@((_active == 3) ? "active" : "")" OnClick="() => ActiveNavLink(3)">@ContentService["Profile:Skills"]</MudNavLink>
                            <MudNavLink Class="@((_active == 4) ? "active" : "")" OnClick="() => ActiveNavLink(4)">@ContentService["ResetPassword:Changepassword"]</MudNavLink>
                        </MudNavMenu>
                    </MudExpansionPanel>
                </MudHidden>

            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="8" lg="9">
    @switch (_active)
    {
        case 0:
            <MudText Typo="Typo.h4">@ContentService["Profile:PersonalInformation"]</MudText>
            <br/>
            if (_profile == null)
            {
                <MudCard>
                    <MudCardHeader>

                    </MudCardHeader>
                    <MudCardContent>
                        <MudSkeleton Width="30%"/>
                        <MudSkeleton Width="40%" Height="42px;"/>
                        <MudSkeleton Width="30%"/>
                        <MudSkeleton Width="60%" Height="42px;"/>
                        <MudSkeleton Width="30%"/>
                        <MudSkeleton Width="50%" Height="42px;"/>
                        <MudSkeleton Width="30%"/>
                        <MudSkeleton Width="100%" Height="42px;"/>
                        <MudSkeleton Width="100%" Height="42px;"/>
                        <MudSkeleton Width="100%" Height="42px;"/>
                        <MudSkeleton Width="50%" Height="42px;"/>
                        <MudCardActions>
                            <MudSkeleton Width="50px" Class="ml-1"/>
                            <MudSkeleton Width="40px" Height="42px" Class="ml-2"/>
                        </MudCardActions>
                    </MudCardContent>
                    <MudCardActions>
                        <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
                        <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
                    </MudCardActions>
                </MudCard>
            }
            else
            {
                <EditForm Model="@_updateProfileCommand" OnValidSubmit="UpdateProfile">
                    <FluentValidationValidator/>

                    <MudCard Class="rounded-lg mud-elevation-4">
                        <MudCardContent>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary"> @ContentService["Profile:FirstName"]</MudText>
                            <MudTextField @bind-Value="@_updateProfileCommand.FirstName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => _updateProfileCommand.FirstName)"/>
                            <br/>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@ContentService["Profile:LastName"]</MudText>
                            <MudTextField @bind-Value="@_updateProfileCommand.LastName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => _updateProfileCommand.LastName)"/>
                            <br/>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@ContentService["SignIn:UserName"]</MudText>
                            <MudTextField @bind-Value="@_profile.UserName" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="true"/>
                            <br/>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@ContentService["SignUp:Email"]</MudText>
                            <MudGrid>
                                <MudItem lg="6" xs="12">
                                    <MudTextField @bind-Value="@_updateProfileCommand.Email" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => _updateProfileCommand.Email)"/>
                                </MudItem>
                                <MudItem lg="6" xs="12">
                                    @if (!_profile.EmailConfirmed)
                                    {
                                        <MudStack Row="true">
                                            <MudStack Row="true" Style="padding-top: 10px;">
                                            <MudIcon Icon="@Icons.Material.Filled.Warning" Color="Color.Warning"/>
                                            <MudText Color="Color.Warning">
                                                @ContentService["Profile:EmailisnotConfirmed"]
                                            </MudText>
                                            </MudStack>
                                            <MudButton Variant="Variant.Filled" OnClick="SendEmailConfirms">
                                                <MudText>Send verification email</MudText>
                                            </MudButton>
                                        </MudStack>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.body2" Color="Color.Success">
                                            <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Success"/>
                                            @ContentService["Profile:Confirmed"]
                                        </MudText>
                                    }
                                </MudItem>
                            </MudGrid>
                            <br/>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@ContentService["Profile:DateOfBirth"]</MudText>
                            <MudDatePicker @bind-Date="@_updateProfileCommand.DateOfBirth" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                            <br/>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@ContentService["ResetPassword:PhoneNumber"]</MudText>
                            <MudGrid class="row align-items-center">
                                <MudItem>
                                    <MudTextField @bind-Value="@_updateProfileCommand.PhoneNumber" Variant="Variant.Outlined"
                                                  Margin="Margin.Dense" For="@(() => _updateProfileCommand.PhoneNumber)" Disabled="_isPhoneNumberNull"/>
                                </MudItem>
                                <MudItem lg="4" style="align-content:end; padding-top:10px;">
                                    @if (!_profile.PhoneNumberConfirmed)
                                    {
                                        <MudText Typo="Typo.body2" Color="Color.Warning">
                                            <MudIcon Icon="@Icons.Material.Filled.Warning" Color="Color.Warning"/>
                                            @ContentService["Profile:PhoneNumberisnotConfirmed"]
                                        </MudText>
                                        if (!_codeSent)
                                        {
                                            <MudButton Variant="Variant.Text" Color="Color.Info" OnClick="SendCode">@ContentService["ResetPassword:Sendconfirmationcode"]</MudButton>
                                        }
                                        else
                                        {
                                            <MudButton Variant="Variant.Text" Color="Color.Info" Disabled>@ContentService["Profile:Codesent"]</MudButton>
                                        }
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.body2" Color="Color.Success">
                                            <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Success"/>
                                            @ContentService["Profile:Confirmed"]
                                        </MudText>
                                    }
                                </MudItem>
                                @if (_codeSent)
                                {
                                    <MudGrid class="d-flex flex-row align-items-center">
                                        <MudItem class="m-1">
                                            <MudTextField Label="@ContentService["Profile:Confirmationcode"]" MaxLength="4" Required Style="width:200px" @bind-Value="@_confirmationCode" Variant="Variant.Outlined" Margin="Margin.Dense" Clearable="true"/>
                                        </MudItem>
                                        <MudItem class="m-1">
                                            <MudButton OnClick="Verify" Variant="Variant.Filled" Color="Color.Info" Style="width: 100px">@ContentService["Profile:Confirm"]</MudButton>
                                        </MudItem>
                                    </MudGrid>
                                }
                            </MudGrid>
                            <br/>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@ContentService["Profile:AboutMyself"]</MudText>
                            <MudTextField T="string" @bind-Value="@_updateProfileCommand.AboutMyself" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="5" For="@(() => _updateProfileCommand.AboutMyself)"/>
                            <br/>
                            <MudSelect T="Gender" Label="Select Gender" @bind-Value="@_updateProfileCommand.Gender" Variant="Variant.Outlined" For="@(() => _updateProfileCommand.Gender)">
                                <MudSelectItem Value="Gender.Male"/>
                                <MudSelectItem Value="Gender.Female"/>
                            </MudSelect>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-content-center">
                            <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit">
                                @if (_processing)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" Style="color:#fff"/>
                                }
                                else
                                {
                                    <MudText>@ContentService["Profile:Savechanges"]</MudText>
                                }
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </EditForm>
            }
            break;
        case 1:
            <MudText Typo="Typo.h4">@ContentService["Profile:Educations"] </MudText>

            <br/>
            <MudGrid>
                @if (educations == null)
                {
                    @for (int i = 0; i < 5; i++)
                    {
                        <MudItem xs="6">
                            <MudCard Class="rounded-lg mud-elevation-4">
                                <MudCardHeader>
                                    <MudSkeleton Width="40%" Height="50px"/>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudSkeleton Width="100%"/>
                                    <MudSkeleton Width="100%"/>
                                    <MudSkeleton Width="70%"/>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudSkeleton Width="36px" Height="36px" Class="ml-2"/>
                                    <MudSkeleton Width="36px" Height="36px" Class="ml-3"/>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }
                }
                else
                {
                    @foreach (UserEducationResponse education in educations)
                    {
                        Guid cardId = education.Id;
                        <MudItem xs="12" sm="12" md="6" lg="4">
                            <MudCard Class="rounded-lg mud-elevation-4">
                                <!-- Edit Education -->
                                @if (editingCardId == cardId)
                                {
                                    <EditForm Model="educationUpdate" OnInvalidSubmit="UpdateEducationHandle">
                                        <FluentValidationValidator/>
                                        <MudCardHeader>
                                            <CardHeaderContent>
                                                <MudAutocomplete T="string" @bind-Value="@educationUpdate.Speciality"
                                                                 SearchFunc="@SearchEducation" Variant="Variant.Outlined" Label="@ContentService["Profile:Specialty"]"
                                                                 Margin="Margin.Dense" For="(() => educationUpdate.Speciality)" CoerceValue="true" Adornment="Adornment.None"/>
                                            </CardHeaderContent>
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <MudAutocomplete T="string" @bind-Value="@educationUpdate.University" Variant="Variant.Outlined"
                                                             Label="@ContentService["Profile:University"]" Margin="Margin.Dense" For="(() => educationUpdate.University)"
                                                             SearchFunc="SearchUniversity" Adornment="Adornment.None" CoerceValue="true"/>
                                            <MudDatePicker Label="@ContentService["Profile:StartDate"]" @bind-Date="@educationUpdate.StartDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => educationUpdate.StartDate)"/>
                                            @if (educationUpdate.UntilNow == false)
                                            {
                                                <MudDatePicker Label="@ContentService["VacanciesList:End date"]" @bind-Date="@educationUpdate.EndDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => educationUpdate.EndDate)"/>
                                            }
                                            <MudCheckBox @bind-Checked="@educationUpdate.UntilNow" Label="@ContentService["Profile:UntilNow"]" Color="Color.Primary"></MudCheckBox>
                                        </MudCardContent>
                                        <MudCardActions>
                                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateEducationHandle">
                                                @if (_processing)
                                                {
                                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                                }
                                                else
                                                {
                                                    <MudText>@ContentService["Profile:Update"]</MudText>
                                                }
                                            </MudButton>
                                            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="CancelButtonClicked_UpdateEducation">
                                                @ContentService["Profile:Cancel"]
                                            </MudButton>
                                        </MudCardActions>
                                    </EditForm>
                                }
                                else
                                {
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h6">
                                                <strong>@education.Speciality</strong>
                                            </MudText>
                                        </CardHeaderContent>
                                        <CardHeaderActions>
                                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" OnClick="() => EditButtonClicked(cardId, education)"/>
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" OnClick="(() => ConfirmDelete(educations, education))"/>
                                        </CardHeaderActions>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudText>@education.University</MudText>
                                        @if (education.UntilNow == false)
                                        {
                                            <MudText>
                                                @education.StartDate?.ToString("MMM. yyyy") - @education.EndDate?.ToString("MMM. yyyy")
                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText>
                                                @education.StartDate?.ToString("MMM. yyyy") - <MudChip Icon="@Icons.Material.Filled.School" Disabled="true" Color="Color.Success">@ContentService["Profile:Present"]</MudChip>
                                            </MudText>
                                        }


                                    </MudCardContent>
                                }
                            </MudCard>
                        </MudItem>
                    }
                }
                <!--Add new Education-->
                <MudItem xs="12" sm="12" md="6" lg="4">

                    @if (addEducation == false)
                    {
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => addEducation = true)">
                            <MudText>
                                @ContentService["Profile:AddNewEducation"]
                            </MudText>
                        </MudButton>
                    }
                    else
                    {
                        <EditForm Model="createEducation" OnInvalidSubmit="CreateEducationHandle">
                            <FluentValidationValidator/>
                            <MudCard Class="rounded-lg mud-elevation-4">

                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h6">
                                            <strong>@ContentService["Profile:NewEducation"]</strong>
                                        </MudText>
                                        <MudAutocomplete T="string" @bind-Value="@createEducation.Speciality" SearchFunc="@SearchEducation"
                                                         Variant="Variant.Outlined" Label="@ContentService["Profile:Specialty"]" Margin="Margin.Dense"
                                                         For="(() => createEducation.Speciality)" CoerceValue="true" Adornment="Adornment.None"/>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudAutocomplete T="string" @bind-Value="@createEducation.University" Variant="Variant.Outlined"
                                                     Label="@ContentService["Profile:University"]" Margin="Margin.Dense" For="(() => createEducation.University)"
                                                     SearchFunc="SearchUniversity" CoerceValue="true" Adornment="Adornment.None"/>
                                    <MudDatePicker Label="@ContentService["Profile:StartDate"]" @bind-Date="createEducation.StartDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => createEducation.StartDate)"/>
                                    <small>
                                        <ValidationMessage For="(() => createEducation.StartDate)" class="text-danger"></ValidationMessage>
                                    </small>
                                    @if (createEducation.UntilNow == false)
                                    {
                                        <MudDatePicker Label="@ContentService["VacanciesList:End date"]" @bind-Date="createEducation.EndDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => createEducation.EndDate)"/>
                                        <small>
                                            <ValidationMessage For="(() => createEducation.StartDate)" class="text-danger"></ValidationMessage>
                                        </small>
                                    }
                                    <MudCheckBox @bind-Checked="@createEducation.UntilNow" Label="@ContentService["Profile:UntilNow"]" Color="Color.Primary"></MudCheckBox>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateEducationHandle">
                                        @if (_processing)
                                        {
                                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                        }
                                        else
                                        {
                                            <MudText>@ContentService["Profile:Save"]</MudText>
                                        }
                                    </MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Surface" OnClick="CancelButtonClicked_CreateEducation">
                                        <MudText>@ContentService["Profile:MyProfile"]</MudText>
                                    </MudButton>
                                </MudCardActions>
                            </MudCard>
                        </EditForm>
                    }

                </MudItem>
                <!--------------------->
            </MudGrid>
            break;
        case 2:
            <MudText Typo="Typo.h4"> @ContentService["Profile:Experiences"]</MudText>
            <br/>
            <MudGrid>
                @if (experiences == null)
                {
                    @for (int i = 0; i < 5; i++)
                    {
                        <MudItem xs="12" sm="12" md="6" lg="4">
                            <MudCard Class="rounded-lg mud-elevation-4">
                                <MudCardHeader>
                                    <MudSkeleton Width="40%" Height="50px"/>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudSkeleton Width="100%"/>
                                    <MudSkeleton Width="100%"/>
                                    <MudSkeleton Width="70%"/>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudSkeleton Width="36px" Height="36px" Class="ml-2"/>
                                    <MudSkeleton Width="36px" Height="36px" Class="ml-3"/>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }
                }
                else
                {
                    @foreach (UserExperienceResponse experience in experiences)
                    {
                        Guid cardExperienceId = experience.Id;
                        <MudItem xs="12" sm="12" md="6" lg="4">
                            <MudCard Class="rounded-lg mud-evaluation-4">
                                <!-- Edit Experience -->
                                @if (editingCardExperienceId == cardExperienceId)
                                {
                                    <EditForm Model="experienceUpdate" OnInvalidSubmit="UpdateExperienceHandle">
                                        <FluentValidationValidator/>
                                        <MudCardHeader>
                                            <CardHeaderContent>
                                                <MudAutocomplete T="string" @bind-Value="@experienceUpdate.JobTitle" Variant="Variant.Outlined" Label="@ContentService["Profile:JobTitle"]"
                                                                 Margin="Margin.Dense" For="(() => experienceUpdate.JobTitle)"
                                                                 Adornment="Adornment.None" CoerceValue="true" SearchFunc="SearchJobTitle"/>
                                            </CardHeaderContent>
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <MudAutocomplete @bind-Value="@experienceUpdate.CompanyName" Variant="Variant.Outlined" Label="@ContentService["Profile:CompanyName"]"
                                                             Margin="Margin.Dense" For="(() => experienceUpdate.CompanyName)"
                                                             Adornment="Adornment.None" CoerceValue="true" SearchFunc="SearchCompanyName"/>
                                            <MudDatePicker Label="@ContentService["Profile:StartDate"]" @bind-Date="experienceUpdate.StartDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => experienceUpdate.StartDate)"/>
                                            @if (experienceUpdate.IsCurrentJob == false)
                                            {
                                                <MudDatePicker Label="@ContentService["VacanciesList:End date"]" @bind-Date="experienceUpdate.EndDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => experienceUpdate.EndDate)"/>
                                            }
                                            <MudCheckBox @bind-Checked="@experienceUpdate.IsCurrentJob" Label="@ContentService["Profile:UntilNow"]" Color="Color.Primary"></MudCheckBox>
                                            <MudAutocomplete @bind-Value="@experienceUpdate.Address" Label="@ContentService["Home:Address"]" Variant="Variant.Outlined"
                                                             For="(() => experienceUpdate.Address)" Adornment="Adornment.None" CoerceValue="true" SearchFunc="SearchAddress"/>
                                            <MudTextField T="string" @bind-Value="@experienceUpdate.Description" Label="@ContentService["Profile:Description"]" Lines="5" Variant="Variant.Outlined" For="(() => experienceUpdate.Description)"></MudTextField>

                                        </MudCardContent>
                                        <MudCardActions>
                                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateExperienceHandle">
                                                @if (_processing)
                                                {
                                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                                }
                                                else
                                                {
                                                    <MudText>@ContentService["Profile:Update"]</MudText>
                                                }
                                            </MudButton>
                                            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="CancelButtonClicked_UpdateExperience">
                                                @ContentService["Profile:Cancel"]
                                            </MudButton>
                                        </MudCardActions>
                                    </EditForm>
                                }
                                else
                                {
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h6">
                                                <strong>@experience.JobTitle</strong>
                                            </MudText>
                                        </CardHeaderContent>
                                        <CardHeaderActions>
                                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" OnClick="(() => EditCardExperienceButtonClicked(cardExperienceId, experience))"/>
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" OnClick="(() => ConfirmDelete(experiences, experience))"/>
                                        </CardHeaderActions>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudText>
                                            <MudIcon Icon="@Icons.Material.Filled.Work"></MudIcon>@experience.CompanyName
                                        </MudText>
                                        @if (experience.IsCurrentJob == false)
                                        {
                                            <MudText>
                                                <MudIcon Icon="@Icons.Material.Filled.CalendarMonth"></MudIcon>
                                                @experience.StartDate?.ToString("MMM. yyyy") - @experience.EndDate?.ToString("MMM. yyyy")
                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText>
                                                <MudIcon Icon="@Icons.Material.Filled.CalendarMonth"></MudIcon>
                                                @experience.StartDate?.ToString("MMM. yyyy") - <MudChip Icon="@Icons.Material.Filled.WorkHistory" Disabled="true" Color="Color.Success">@ContentService["Profile:CurrentJob"]</MudChip>
                                            </MudText>
                                        }
                                        <MudText>
                                            <MudIcon Icon="@Icons.Material.Filled.Map"></MudIcon>@experience.Address
                                        </MudText>
                                        <MudText style="text-align: justify;">
                                            <MudIcon Icon="@Icons.Material.Filled.TextFields"></MudIcon>@experience.Description
                                        </MudText>

                                    </MudCardContent>
                                }
                            </MudCard>
                        </MudItem>
                    }
                }
                <!--Add new Experience-->
                <MudItem xs="12" sm="12" md="6" lg="4">

                    @if (addExperience == false)
                    {
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => addExperience = true)">
                            <MudText> @ContentService["Profile:AddNewExperience"]</MudText>
                        </MudButton>
                    }
                    else
                    {
                        <EditForm Model="createExperience" OnInvalidSubmit="CreateExperienceHandle">
                            <FluentValidationValidator/>
                            <MudCard Class="rounded-lg mud-evaluation-4">

                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h6">
                                            <strong>@ContentService["Profile:NewExperience"]</strong>
                                        </MudText>
                                        <MudAutocomplete @bind-Value="@createExperience.JobTitle" Variant="Variant.Outlined" Label="@ContentService["Profile:JobTitle"]"
                                                         Margin="Margin.Dense" For="(() => createExperience.JobTitle)"
                                                         Adornment="Adornment.None" CoerceValue="true" SearchFunc="SearchJobTitle"/>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudAutocomplete @bind-Value="@createExperience.CompanyName" Variant="Variant.Outlined" Label="@ContentService["Profile:CompanyName"]"
                                                     Margin="Margin.Dense" For="(() => createExperience.CompanyName)"
                                                     Adornment="Adornment.None" CoerceValue="true" SearchFunc="SearchCompanyName"/>
                                    <MudDatePicker Label="@ContentService["Profile:StartDate"]" @bind-Date="createExperience.StartDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => createExperience.StartDate)"/>
                                    @if (createExperience.IsCurrentJob == false)
                                    {
                                        <MudDatePicker Label="@ContentService["Profile:CompanyName"]" @bind-Date="createExperience.EndDate" DateFormat="dd.MM.yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" For="(() => createExperience.EndDate)"/>
                                    }
                                    <MudCheckBox @bind-Checked="@createExperience.IsCurrentJob" Label="@ContentService["Profile:IsCurrentJob"]" Color="Color.Primary"></MudCheckBox>
                                    <MudAutocomplete @bind-Value="@createExperience.Address" Label="@ContentService["Home:Address"]" Variant="Variant.Outlined"
                                                     For="(() => createExperience.Address)" Margin="Margin.Dense"
                                                     Adornment="Adornment.None" CoerceValue="true" SearchFunc="SearchAddress"/>
                                    <MudTextField T="string" @bind-Value="@createExperience.Description" Label="@ContentService["Profile:Description"]" Lines="5" Variant="Variant.Outlined" For="(() => createExperience.Description)"></MudTextField>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateExperienceHandle">
                                        @if (_processing)
                                        {
                                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                        }
                                        else
                                        {
                                            <MudText>@ContentService["Profile:Save"]</MudText>
                                        }
                                    </MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="CancelButtonClicked_CreateExperience">
                                        <MudText> @ContentService["Profile:Cancel"]</MudText>
                                    </MudButton>
                                </MudCardActions>
                            </MudCard>
                        </EditForm>
                    }

                </MudItem>
                <!--------------------->
            </MudGrid>
            break;
        case 3:
            <MudText Typo="Typo.h4">@ContentService["Profile:Skills"] </MudText>

            <br/>
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudStack Row="true">
                                <MudAutocomplete T="string" @bind-Value="newSkills" Immediate="true"
                                                 CoerceValue="true" Adornment="Adornment.None"
                                                 Variant="Variant.Outlined" Label="@ContentService["Profile:AddSkill"]"
                                                 SearchFunc="@SearchSkills" Margin="Margin.Dense">
                                </MudAutocomplete>
                                <MudButton Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add"
                                           OnClick="OnBlur"/>
                            </MudStack>


                            @foreach (string skill in UserSkills.Skills)
                            {
                                <MudChip Color="Color.Default" OnClose="Closed" Text="@skill">@skill</MudChip>
                            }
                        </MudCardContent>
                    </MudCard>
                </MudItem>

            </MudGrid>
            break;
        case 4:
            <ChangePassword/>
            break;
    }
    </MudItem>
    </MudGrid>
}