@page "/trainingss/{Slug}"
@using Blazored.LocalStorage;
@using MRA.Jobs.Application.Contracts.TrainingVacancies.Responses;
@using MRA.Jobs.Client.Identity;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider provider
@inject ITrainingService _trainingService
@inject IApplicationService ApplicationService

<div class="container">
	@if (_training == null)
	{
		<span>Loading...</span>
	}
	else
	{
		<h2>@_training.Title</h2>
		<div class="row">
			<div class="col-md-8">
				<h3 class="mb-2 text-black">
					Description:
				</h3>
				<p class="mb-2 text-black">@((MarkupString)@_training.Description)</p>
				<h3 class="mb-2 text-black">
					EndDate:
				</h3>
				<p class="mb-2 text-black">@_training.EndDate</p>
				<h3 class="mb-2 text-black">
					Duration:
				</h3>
				<p class="mb-2 text-black">@_training.Duration</p>
				<h3 class="mb-2 text-black">
					Fees:
				</h3>
				<p class="mb-2 text-black">@_training.Fees</p>
			</div>
			@*button*@
			<div class="col-md-4 bg-light rounded p-3">
				<p>Interested in a trainings?</p>
				<CascadingAuthenticationState>
					<AuthorizeView>
						<Authorized>
							@if (applied)
							{
								<span class="text-success"> <i class="fa fa-check" aria-hidden="true"></i>Applied</span>
							}
							else
							{
								<a href="/trainings/ApplytoTrainings/@Slug" class="btn btn-primary w-100">Apply</a>
							}
						</Authorized>
						<NotAuthorized>
							<a href="/sign-in" class="btn btn-primary w-100">Apply</a>
						</NotAuthorized>
					</AuthorizeView>
				</CascadingAuthenticationState>

			</div>
		</div>

	}
</div>



@code {
	[Parameter]
	public string Slug { get; set; }
	private TrainingVacancyDetailedResponse _training { get; set; } = new TrainingVacancyDetailedResponse();
	private bool applied = false;

	protected override async Task OnInitializedAsync()
	{
		_training = await _trainingService.GetBySlug(Slug);
		applied = await ApplicationExits();
	}

	private async Task<bool> ApplicationExits()
	{
		return await ApplicationService.ApplicationExist(Slug);
	}



}