@page "/resetPassword"

@using MRA.Jobs.Client.Services.Profile;
@using MudBlazor
@using System.ComponentModel.DataAnnotations;
@inject IUserProfileService UserProfileService
<h3>ResetPassword</h3>
<MudGrid>

	<MudItem xs="12" sm="12">
		@if (!codeSent)
		{
			<MudCard>
				<MudCardHeader></MudCardHeader>
				<MudCardContent>
					<MudTextField Label="Phone Number" @bind-Value="phoneNumber" Variant="@Variant.Filled" Clearable />
					</MudCardContent>
					<MudCardActions>
						<MudButton Variant="Variant.Text" Color="Color.Info" OnClick="SendCode">Send confirmation code</MudButton>
					</MudCardActions>
				</MudCard>
		}

		@if (codeSent)
		{
			<MudCard>
				<MudCardHeader></MudCardHeader>
				<MudCardContent>
					<MudTextField Label="Code" @bind-Value="Code" Variant="@Variant.Filled" Clearable />
						<p>@timeLeft seconds left to resend the code.</p>
					</MudCardContent>
					<MudCardActions>
						<MudButton Variant="Variant.Text" Color="Color.Info" OnClick="SendCode" Disabled="@isResendDisabled">Resend code</MudButton>
					</MudCardActions>
				</MudCard>
		}
		@if(codeSent && codeConfirm)
		{
			<MudCard>
				<MudCardHeader></MudCardHeader>
				<MudCardContent>
					<MudTextField @bind-Value="@command.NewPassword" Label="New Password" Variant="Variant.Outlined"
								  InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon"
								  OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" For="@(()=>command.NewPassword)" />
					<MudTextField @bind-Value="@command.ConfirmPassword" Label="Confirm Password" Variant="Variant.Outlined"
								  InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon"
								  OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" For="@(()=>command.ConfirmPassword)" />
				</MudCardContent>
				<MudCardActions>
					<MudButton Color="Color.Primary" Variant="Variant.Filled"
							   ButtonType="ButtonType.Submit">Change password</MudButton>
				</MudCardActions>
			</MudCard>
		}
	</MudItem>


</MudGrid>

@code {

	public class NewPass
	{
		[Required]
		public string NewPassword { get; set; }
	}

	private string phoneNumber = "+992";
	private bool codeSent = false;
	private bool codeConfirm = false;
	private bool isResendDisabled = true;
	private int timeLeft = 60;

	private async Task SendCode()
	{
		bool response = await UserProfileService.SendConfirmationCode(phoneNumber);
		if (response)
		{
			codeSent = true;
			await StartCountdown();
		}
	}

	private async Task StartCountdown()
	{
		for (timeLeft = 60; timeLeft > 0; timeLeft--)
		{
			await Task.Delay(1000);
			StateHasChanged();
		}
		isResendDisabled = false;

	}

	private string Code;
}
