@page "/UserRoles/{Username}"

<Header />

<CascadingAuthenticationState>
    <AuthorizeView Roles="ApplicationAdmin" Context="_">
        <Authorized>


            <MudText Typo="Typo.h4">
                <b>@Username</b>
            </MudText>

            @if (_userSkills == null)
            {
                <div style="text-align: center;">
                    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true"/>
                </div>
            }
            else
            {
                <MudGrid>
                    <MudItem lg="6" sm="12" xs="12" md="6">
                        <MudGrid>
                            <MudItem lg="12" xs="12">
                                <MudCard>
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h5">
												<b>@ContentService["UserRoles:PersonalData"]</b>
                                            </MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <style>
							td {
								vertical-align: top;
								text-align: left;
								padding-bottom: 0;
							}
						</style>
                                        <table>
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th style="width:25px;"> </th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
													<td>@ContentService["Profile:FirstName"]:</td>
                                                <td></td>
                                                <td>@_personalData.FirstName</td>
                                            </tr>
                                            <tr>
													<td>@ContentService["Profile:LastName"]:</td>
                                                <td></td>
                                                <td>@_personalData.LastName</td>
                                            </tr>
                                            <tr>
													<td>@ContentService["SignUp:Email"]:</td>
                                                <td></td>
                                                <td>
                                                    @_personalData.Email<br/>
                                                    @if (_personalData.EmailConfirmed)
                                                    {
															<MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Check">@ContentService["Profile:Confirmed"]</MudChip>
                                                    }
                                                    else
                                                    {
															<MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.Warning">@ContentService["UserRoles:UnConfirmed"]</MudChip>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
													<td>@ContentService["ResetPassword:PhoneNumber"]:</td>
                                                <td></td>
                                                <td>
                                                    @_personalData.PhoneNumber<br/>
                                                    @if (_personalData.PhoneNumberConfirmed)
                                                    {
															<MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Check">@ContentService["Profile:Confirmed"]</MudChip>
                                                    }
                                                    else
                                                    {
															<MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.Warning">@ContentService["UserRoles:UnConfirmed"]</MudChip>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
													<td>@ContentService["Profile:DateOfBirth"]:</td>
                                                <td></td>
                                                <td>@_personalData.DateOfBirth.ToShortDateString()</td>
                                            </tr>
                                            <tr>
													<td>@ContentService["UserRoles:Gender"]:</td>
                                                <td></td>
                                                <td>@_personalData.Gender</td>
                                            </tr>
                                            <tr>
													<td>@ContentService["Home:About"]:</td>
                                                <td></td>
                                                <td>@_personalData.AboutMyself</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem lg="12" xs="12">
                                <MudCard>
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h5">
												<b>@ContentService["UserManager:Roles"]</b>
                                            </MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudStack Row="true">
											<MudTextField Label=@ContentService["UserManager:Roles"] Variant="Variant.Outlined" @bind-Value="NewRoleName" />
                                            <MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.Add" OnClick="@OnAddClick"/>
                                        </MudStack>
                                        <br/>
                                        <MudTable Items="@Roles" Dense="true" Hover="true" Breakpoint="@Breakpoint.None">
                                            <RowTemplate>
                                                <MudTd Style="width:100%">@context.RoleName</MudTd>
                                                <MudTd Style="width:auto">
                                                    <MudIconButton @onclick="() => OnDeleteClick(context.Slug)" Icon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudIconButton>
                                                </MudTd>
                                            </RowTemplate>
                                        </MudTable>
                                    </MudCardContent>
                                </MudCard>

                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem lg="6" sm="12" xs="12" md="6">
                        <MudGrid>
                            <MudItem lg="12" xs="12">
                                <MudCard>
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h5">
													<b>@ContentService["Profile:Skills"]</b>
                                            </MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        @if (_userSkills.Skills != null)
                                        {
                                            foreach (var skill in _userSkills.Skills)
                                            {
                                                <MudChip>@skill</MudChip>
                                            }
                                        }
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem lg="12" xs="12">
                                <MudCard>
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h5">
												<b>@ContentService["UserRoles:History"]</b>
                                            </MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudTimeline TimelineAlign="TimelineAlign.Start" TimelinePosition="TimelinePosition.Start">
                                            <MudTimelineItem Color="Color.Dark" Elevation="25" Size="Size.Medium">
                                                @* 	<ItemOpposite>
								<MudText Color="Color.Dark" Typo="Typo.h6">Aug 2020</MudText>
								</ItemOpposite> *@
                                                <ItemDot>
                                                    <MudIcon Icon="@Icons.Material.Filled.Timelapse"/>
                                                </ItemDot>
                                                <ItemContent>
                                                    <MudPaper Elevation="0" Class="mt-n1">
														<MudText Color="Color.Dark" Typo="Typo.h6">@ContentService["UserRoles:ApplytoJobVacancy"]</MudText>
                                                        <MudText Typo="Typo.body2" GutterBottom="true">
                                                            <b>10/03/2023 08:45AM</b>
                                                        </MudText>
															<MudText Typo="Typo.body2">@ContentService["UserRoles:Arepository"].</MudText>
															<MudText Typo="Typo.body2"> @ContentService["UserRoles:Thedevelopment"]</MudText>
                                                    </MudPaper>
                                                </ItemContent>
                                            </MudTimelineItem>
                                            <MudTimelineItem Color="Color.Primary" Elevation="25" Size="Size.Medium">
                                                @* <ItemOpposite>
								<MudText Color="Color.Primary" Typo="Typo.h6">Oct 2020</MudText>
								</ItemOpposite> *@
                                                <ItemDot>
                                                    <MudIcon Icon="@Icons.Material.Filled.Check"/>
                                                </ItemDot>
                                                <ItemContent>
                                                    <MudPaper Elevation="0" Class="mt-n1">
															<MudText Color="Color.Primary" Typo="Typo.h6">@ContentService["UserRoles:PassedtheTest"]</MudText>
                                                        <MudText Typo="Typo.body2" GutterBottom="true">
                                                            <b>10/10/2023 10:00AM</b>
                                                        </MudText>
                                                    </MudPaper>
                                                </ItemContent>
                                            </MudTimelineItem>
                                            <MudTimelineItem Color="Color.Success" Elevation="25" Size="Size.Large">
                                                @* 	<ItemOpposite>
								<MudText Color="Color.Secondary" Typo="Typo.h6" GutterBottom="true">Nov 2020</MudText>
								</ItemOpposite> *@
                                                <ItemDot>
                                                    <MudIcon Icon="@Icons.Material.Filled.Person"/>
                                                </ItemDot>
                                                <ItemContent>
                                                    <MudPaper Elevation="0" Class="mt-n1">
															<MudText Color="Color.Success" Typo="Typo.h6">@ContentService["UserRoles:Intern"]</MudText>
                                                        <MudText Typo="Typo.body2" GutterBottom="true">
                                                            <b>10/30/2023 03:30PM</b>
                                                        </MudText>

															<MudText Typo="Typo.body2">@ContentService["UserRoles:MudBlazorgets"]</MudText>
															<MudText Typo="Typo.body2">@ContentService["UserRoles:TimerPickerAutoComplete"]</MudText>
                                                    </MudPaper>
                                                </ItemContent>
                                            </MudTimelineItem>
                                        </MudTimeline>
                                    </MudCardContent>
                                </MudCard>

                            </MudItem>

                        </MudGrid>


                    </MudItem>
                </MudGrid>
            }
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>