<MudGrid Style="margin-top: 10%">
    <MudItem xs="12">
        <MudText Typo="Typo.h3" Style="text-align: center">
            <b>
                <span style="color: #129fd7">@ContentService["Home:Principles"]</span>
            </b>
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                   1.  @ContentService["Home:Agile"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:AgileDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                 2.  @ContentService["Home:CodeQuality"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:CodeQualityDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                  3.  @ContentService["Home:ContinualLearning"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:ContinualLearningDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                  4.  @ContentService["Home:IntrinsicControl"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:IntrinsicControlDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                  5.  @ContentService["Home:GlorifyGod"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:GlorifyGodDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard Class="rounded-lg mud-elevation-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>
                                 6.  @ContentService["Home:Productivity"]
                                </b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">
                            @ContentService["Home:ProductivityDetails"]
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudItem>

</MudGrid>