@page "/dashboard/internship"
@layout Dashboard
@using MRA.Jobs.Application.Contracts.VacancyCategories.Responses;
@using MRA.Jobs.Client.Components.Dialogs;

@inject IInternshipService internshipService
@inject ICategoryService categoryService

<MudText Typo="Typo.h3" Style="margin:50px; color: #129fd7; text-align: center; font-weight: 900">Internships</MudText>

@if (categories == null)
{
    <div>loading....</div>
}
else
{
    <MudExpansionPanels>
        <MudExpansionPanel Text="Create new Internship" @bind-IsExpanded="@panelOpenState">
            <MudTextField @bind-Value="@internshipService.createCommand.Title" Label="Title"></MudTextField>
            <MudTextField Lines="5" @bind-Value="@internshipService.createCommand.ShortDescription" Label="ShortDescription"></MudTextField>
            <MudTextField Lines="5" @bind-Value="@internshipService.createCommand.Description" Label="Description"></MudTextField>
            <MudTextField @bind-Value="@internshipService.createCommand.ApplicationDeadline" Label="Application deadline"></MudTextField>
            <MudTextField @bind-Value="@internshipService.createCommand.Duration" Label="Duration"></MudTextField>
            <MudTextField @bind-Value="@internshipService.createCommand.Stipend" Label="Stipend"></MudTextField>
            <MudSelect T="string" Label="@selectedCategory" @bind-Value="@selectedCategory">
                @foreach (var cat in categories)
                {
                    <MudSelectItem Value="@cat.Name" />
                }
            </MudSelect>
            <MudTextField @bind-Value="internshipService.createCommand.EndDate" Label="EndDate"></MudTextField>
            <MudTextField @bind-Value="internshipService.createCommand.PublishDate" Label="PublishDate"></MudTextField>
            <MatButton Type="submit" @onclick="@HandleSubmit" Id="btnInsert" hidden="@isInserting">Create</MatButton>
            <MatButton Type="submit" @onclick="@HandleUpdate" Id="btnUpdate" hidden="@isUpdating">Update</MatButton>
            <MatButton Type="submit" @onclick="@HandleCancel" Id="btnUpdate">Cancel</MatButton>
        </MudExpansionPanel>
    </MudExpansionPanels>

    <DeleteConfirmation @bind-IsOpen="@isDialogOpen" OnConfirm="DeleteItem" />
    <MudTable Items="@interships" Class="text-center" Breakpoint="Breakpoint.Md">
        <HeaderContent>
            <MudTh>Title</MudTh>
            <MudTh>Short description</MudTh>
            <MudTh>Application deadline</MudTh>
            <MudTh>Duration</MudTh>
            <MudTh>Stipend</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>End date</MudTh>
            <MudTh>Publish date</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Title">@context.Title</MudTd>
            <MudTd DataLabel="Short description">@context.ShortDescription.Substring(0, 50) ...</MudTd>
            <MudTd DataLabel="Application deadline">@context.ApplicationDeadline</MudTd>
            <MudTd DataLabel="Duration">@context.Duration</MudTd>
            <MudTd DataLabel="Stipend">@context.Stipend</MudTd>
            <MudTd DataLabel="Category">@context.Category</MudTd>
            <MudTd DataLabel="EndDate">@context.EndDate.ToString("D")</MudTd>
            <MudTd DataLabel="PublishDate">@context.PublishDate.ToString("D")</MudTd>
            <MudTd DataLabel="Action">
                <MudButton @onclick="()=>OnDeleteClick(context.Slug)" Style="color:#2094CC" Icon="delete">Delete</MudButton>
                <MudButton @onclick="()=>OnEditClick(context.Slug)" Style="color:#2094CC" Icon="edit">Edit</MudButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}


@code {
    bool panelOpenState;
    bool isInserting;
    bool isUpdating = true;
    string UpdateSlug;
    private string selectedCategory = string.Empty;


    private List<CategoryResponse> categories;
    private List<InternshipVacancyListResponse> interships;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private bool isDialogOpen = false;
    private string itemSlugToDelete;

    void OnDeleteClick(string slug)
    {
        itemSlugToDelete = slug;
        isDialogOpen = true;
    }
    private async Task DeleteItem()
    {
        await internshipService.Delete(itemSlugToDelete);
        isDialogOpen = false;
        await LoadData();
    }

    private async Task OnEditClick(string slug)
    {
        var vacancy = await internshipService.GetBySlug(slug);
        if (vacancy != null)
        {
            internshipService.createCommand.Title = vacancy.Title;
            internshipService.createCommand.ShortDescription = vacancy.ShortDescription;
            internshipService.createCommand.Description = vacancy.Description;
            internshipService.createCommand.ApplicationDeadline = vacancy.ApplicationDeadline;
            internshipService.createCommand.Stipend = vacancy.Stipend;
            internshipService.createCommand.Duration = vacancy.Duration;
            internshipService.createCommand.EndDate = vacancy.EndDate;
            internshipService.createCommand.PublishDate = vacancy.PublishDate;
            internshipService.createCommand.CategoryId = vacancy.CategoryId;
            selectedCategory = categories.FirstOrDefault(c => c.Id == vacancy.CategoryId).Name;
            isInserting = true;
            isUpdating = false;
            panelOpenState = true;
            UpdateSlug = slug;
        }
    }

    private async Task LoadData()
    {
        interships = await internshipService.GetAll();
        categories = await categoryService.GetAllCategory();
    }

    private async Task HandleSubmit()
    {
        await internshipService.Create();
        await LoadData();
        Clear();
    }

    private async Task HandleUpdate()
    {
        var catId = categories.FirstOrDefault(c => c.Name == selectedCategory).Id;
        internshipService.createCommand.CategoryId = catId;
        await internshipService.Update(UpdateSlug);
        await LoadData();
        Clear();
    }

    void HandleCancel()
    {
        Clear();
    }

    private void Clear()
    {
        internshipService.createCommand.Title = string.Empty;
        internshipService.createCommand.ShortDescription = string.Empty;
        internshipService.createCommand.Description = string.Empty;
        internshipService.createCommand.ApplicationDeadline = DateTime.Now;
        internshipService.createCommand.Stipend = 0;
        internshipService.createCommand.Duration = 0;
        internshipService.createCommand.EndDate = DateTime.Now;
        internshipService.createCommand.PublishDate = DateTime.Now;
        isInserting = false;
        isUpdating = true;
        panelOpenState = false;
        UpdateSlug = string.Empty;
    }
}
