@page "/dashboard/trainings"
@layout Dashboard
@using MRA.Jobs.Application.Contracts.TrainingVacancies.Responses;
@using MRA.Jobs.Client.Components.Dialogs;
@using MRA.Jobs.Application.Contracts.VacancyCategories.Responses;
@using MRA.Jobs.Client.Identity
@using BlazorMonaco
@using BlazorMonaco.Editor
@inject ITrainingService TrainingService
@inject ICategoryService CategoryService
@inject ISnackbar Snackbar
@inject IDialogService DialogService


@if (serverError)
{
    <ServerErrorComponent/>
}
else
{
    @if (categories == null)
    {
        <div style="text-align: center;">
            <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true"/>
        </div>
    }
    else
    {
        <MudGrid>
            <MudItem lg="12">
                <MudCardActions>
                    <MudText Typo="Typo.h4">
                        <b>Trainings</b>
                    </MudText>
                    <MudSpacer/>
                    <MudButton Disabled="@panelOpenState" Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => panelOpenState = !panelOpenState)">
                        <MudText>Create New Training Vacancy</MudText>
                    </MudButton>
                </MudCardActions>
            </MudItem>
            <MudItem lg="12" hidden="@(!panelOpenState)">
                <EditForm Model="@TrainingService.createCommand">
                    <FluentValidationValidator/>
                    <MudGrid>
                        <MudItem xs="12" lg="6">
                            <MudCard Class="rounded-4 mud-elevation-4">
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Style="color:#808080">
                                            <b>@createOrEditHeader</b>
                                        </MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudTextField @bind-Value="@TrainingService.createCommand.Title" Label="Title"
                                                  Variant="Variant.Outlined" For="@(() => TrainingService.createCommand.Title)"/>
                                    <MudTextField Lines="4" @bind-Value="@TrainingService.createCommand.ShortDescription" Label="ShortDescription"
                                                  Variant="Variant.Outlined" For="@(() => TrainingService.createCommand.ShortDescription)"/>
                                    <MudTextField Lines="10" @bind-Value="@TrainingService.createCommand.Description" Label="Description"
                                                  Variant="Variant.Outlined" For="@(() => TrainingService.createCommand.Description)"/>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" lg="6">
                            <MudCard Class="rounded-4 mud-elevation-4">
                                <MudCardHeader>
                                    <MatCardContent>
                                        <MudText Style="color: #808080">
                                            <b>Vacancy details</b>
                                        </MudText>
                                    </MatCardContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudGrid>
                                        <MudItem xs=12 lg="12">
                                            <MudText Style="color:rgb(128,128,128)" Typo="Typo.body2">Category</MudText>
                                            <MudSelect T="string" @bind-Value="@selectedCategory"
                                                       Variant="Variant.Outlined">
                                                @foreach (var cat in categories)
                                                {
                                                    <MudSelectItem Value="@cat.Name"/>
                                                }
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xs="12" lg="6">
                                            <MudTextField @bind-Value="@TrainingService.createCommand.Duration" Variant="Variant.Outlined" Label="Duration"></MudTextField>
                                        </MudItem>
                                        <MudItem xs="12" lg="6">
                                            <MudTextField @bind-Value="@TrainingService.createCommand.Fees" Label="Fees" Variant="Variant.Outlined"></MudTextField>
                                        </MudItem>
                                        <MudItem xs=12 lg="12">
                                            <MudText Style="color:rgb(128,128,128)" Typo="Typo.body2">Publish Date</MudText>
                                            <MudGrid>
                                                <MudItem xs=12 lg="6">
                                                    <MudDatePicker @bind-Date="@TrainingService.createCommand.PublishDate" Variant="Variant.Outlined"
                                                                   Label="Date" For="@(() => TrainingService.createCommand.PublishDate)"/>
                                                </MudItem>
                                                <MudItem xs=12 lg="6">
                                                    <MudTimePicker AmPm="true" @bind-Time="publishDate_Time" Variant="Variant.Outlined" Label="Time"/>
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>
                                        <MudItem xs=12 lg="12">
                                            <MudText Style="color:rgb(128,128,128)" Typo="Typo.body2">End Date</MudText>
                                            <MudGrid>
                                                <MudItem xs=12 lg="6">
                                                    <MudDatePicker @bind-Date="@TrainingService.createCommand.EndDate" Variant="Variant.Outlined"
                                                                   Label="Date" For="@(() => TrainingService.createCommand.EndDate)"/>

                                                </MudItem>
                                                <MudItem xs=12 lg="6">
                                                    <MudTimePicker AmPm="true" @bind-Time="endDate_Time" Variant="Variant.Outlined" Label="Time"/>
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>
                                    </MudGrid>
                                </MudCardContent>
                            </MudCard>

                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="12" lg="6">
                            <MudCard Class="rounded-4 mud-elevation-4">
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Style="color:rgb(128,128,128)">
                                            <b>Tasks</b>
                                        </MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudExpansionPanels MultiExpansion="true">
                                        @foreach (var task in Tasks)
                                        {
                                            <MudExpansionPanel Text="@task.Title">
                                                <MudText> Description: @task.Description</MudText>
                                                <MudText>Template:</MudText>
                                                <MudElement HtmlTag="pre">
                                                    <MudElement HtmlTag="code">
                                                        @task.Template
                                                    </MudElement>
                                                </MudElement>
                                                <MudText>Test:</MudText>
                                                <MudElement HtmlTag="pre">
                                                    <MudElement HtmlTag="code">
                                                        @task.Test
                                                    </MudElement>
                                                </MudElement>
                                                <MudButton StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                                           Variant="Variant.Filled" OnClick="() => RemoveTask(task.Title)" aria-label="delete">
                                                    <MudText>Remove</MudText>
                                                </MudButton>
                                            </MudExpansionPanel>
                                        }
                                    </MudExpansionPanels>
                                    @if (panelOpenState != false)
                                    {
                                        <br/>
                                        <MudTextField @bind-Value="newTitle" OnKeyDown="@OnKeyDown" Label="Title"
                                                      Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Secondary"/>
                                        <MudTextField Lines="5" @bind-Value="newDescription" OnKeyDown="@OnKeyDown" Label="Description"
                                                      Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Secondary"/>
                                        <MudText Style="color:rgb(128,128,128)" Typo="Typo.body2">Template</MudText>
                                        <StandaloneCodeEditor @ref="_editorTemplate" Id="sample-code-editor-123" ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu"/>
                                        <MudText Style="color:rgb(128,128,128)" Typo="Typo.body2">Test</MudText>
                                        <StandaloneCodeEditor @ref="_editorTest" Id="sample-code-editor-456" ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu"/>
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                                   @onclick="@AddTask" Id="AddTask">
                                            <MudText>Add Task</MudText>
                                        </MudButton>
                                    }

                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" lg="6">
                            <MudCard Class="rounded-4 mud-elevation-4">
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Style="color:rgb(128,128,128)">
                                            <b>Vacancy questions</b>
                                        </MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    @foreach (var ques in Questions)
                                    {
                                        <MudText Typo="Typo.subtitle1">
                                            <MudChip>
                                                <MudIcon Icon="@Icons.Material.Filled.QuestionMark"/>
                                            </MudChip>

                                            @ques.Question
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => RemoveQuestion(ques.Question)" aria-label="delete"></MudIconButton>
                                        </MudText>
                                        <MudDivider/>
                                    }
                                    <MudTextField @bind-Value="newQuestion" OnKeyDown="@OnKeyDown" OnAdornmentClick="AddQuestions" Label="New question" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon=@Icons.Material.Filled.Add AdornmentColor="Color.Secondary"/>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" lg="12">
                            <MudCardActions>
                                <div hidden="@isInserting">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@HandleSubmit">
                                        <MudText>
                                            Create
                                        </MudText>
                                    </MudButton>
                                </div>
                                <div hidden="@isUpdating">
                                    <MudButton Variant="Variant.Filled" Color="Color.Warning" @onclick="@HandleUpdate">
                                        <MudText>
                                            Save changes
                                        </MudText>
                                    </MudButton>
                                </div>
                                <MudButton Variant="Variant.Filled" Color="Color.Dark" @onclick="@HandleCancel" Style="margin-left: 10px;">
                                    <MudText>
                                        Cancel
                                    </MudText>
                                </MudButton>
                            </MudCardActions>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudItem>
        </MudGrid>


        <MudTable Items="@trainings" Class="text-center" Breakpoint="Breakpoint.Md" hidden="@panelOpenState">
            <HeaderContent>
                <MudTh>
                    <strong>Title</strong>
                </MudTh>
                <MudTh>
                    <strong>Short description</strong>
                </MudTh>
                <MudTh>
                    <strong>Category</strong>
                </MudTh>
                <MudTh>
                    <strong>Publish date</strong>
                </MudTh>
                <MudTh>
                    <strong>End date</strong>
                </MudTh>
                <MudTh>
                    <strong>Duration</strong>
                </MudTh>
                <MudTh>
                    <strong>Fees</strong>
                </MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Title">@context.Title</MudTd>
                <MudTd DataLabel="Short description">
                    @(context.ShortDescription.Count() > 50 ? context.ShortDescription.Substring(0, 50) : context.ShortDescription)
                </MudTd>
                <MudTd DataLabel="Category">@context.Category</MudTd>
                <MudTd DataLabel="PublishDate">@context.PublishDate.ToString("D")</MudTd>
                <MudTd DataLabel="EndDate">@context.EndDate.ToString("D")</MudTd>
                <MudTd DataLabel="Duration">@context.Duration</MudTd>
                <MudTd DataLabel="Fees">@context.Fees</MudTd>
                <MudTd DataLabel="Action">
                    <MudIconButton @onclick="() => OnDeleteClick(context.Slug)" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error" Size="Size.Medium"/>
                    <MudIconButton @onclick="() => OnEditClick(context.Slug)" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Primary" Size="Size.Medium"/>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>
    }
}

@code {
    private bool serverError;
    bool panelOpenState;
    bool isInserting;
    bool isUpdating = true;
    string UpdateSlug;
    string selectedCategory = "Select category";
    private string newQuestion = string.Empty;
    private string newDescription = string.Empty;
    private string newTemplate = string.Empty;
    private string newTest = string.Empty;
    private string newTitle = string.Empty;
    private string createOrEditHeader = "New Training Vacancy";
    private List<VacancyQuestionDto> Questions = new();
    private List<CategoryResponse> categories;
    private List<TrainingVacancyListDto> trainings;
    private List<VacancyTaskDto> Tasks = new();
    private TimeSpan? publishDate_Time;
    private TimeSpan? endDate_Time;
    private StandaloneCodeEditor _editorTemplate = null!;
    private StandaloneCodeEditor _editorTest = null!;

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        if (editor == _editorTest)
        {
            return new StandaloneEditorConstructionOptions
            {
                Language = "csharp",
                GlyphMargin = true,
                AutomaticLayout = true,
                Value = "using Microsoft.VisualStudio.TestTools.UnitTesting;\n\n" +
                        "namespace TestProject\n" +
                        "{\n" +
                        "    [TestClass]\n" +
                        "    public class UnitTest1\n" +
                        "    {\n" +
                        "        [TestMethod]\n" +
                        "        public void TestMethod1()\n" +
                        "        {\n" +
                        "        //You can write a test here  \n" +
                        "        }\n" +
                        "    }\n" +
                        "}\n"
            };
        }
        else
        {
            return new StandaloneEditorConstructionOptions
            {
                Language = "csharp",
                GlyphMargin = true,
                AutomaticLayout = true,
                Value = "using System;\n\n" +
                        "public class Program\n" +
                        "{\n" +
                        "    public static void Main()\n" +
                        "    {\n" +
                        "        Console.WriteLine(\"Hello, world!\");\n" +
                        "    }\n" +
                        "}\n"
            };
        }
    }

    private async Task EditorOnDidInit()
    {
        await _editorTest.AddCommand((int)KeyMod.CtrlCmd | (int)KeyCode.KeyH, (args) => { Console.WriteLine("Ctrl+H : Initial editor command is triggered."); });
        await _editorTemplate.AddCommand((int)KeyMod.CtrlCmd | (int)KeyCode.KeyH, (args) => { Console.WriteLine("Ctrl+H : Initial editor command is triggered."); });

        var newDecorations = new ModelDeltaDecoration[]
        {
            new ModelDeltaDecoration
            {
                Range = new BlazorMonaco.Range(3, 1, 3, 1),
                Options = new ModelDecorationOptions
                {
                    IsWholeLine = true,
                    ClassName = "decorationContentClass",
                    GlyphMarginClassName = "decorationGlyphMarginClass"
                }
            }
        };

        await _editorTest.DeltaDecorations(null, newDecorations);
        await _editorTemplate.DeltaDecorations(null, newDecorations);
    }

    private void OnContextMenu(EditorMouseEvent eventArg)
    {
        Console.WriteLine("OnContextMenu : " + System.Text.Json.JsonSerializer.Serialize(eventArg));
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }


    async Task OnDeleteClick(string slug)
    {
        var vacancy = trainings.FirstOrDefault(c => c.Slug == slug);
        var parameters = new DialogParameters<DialogMudBlazor>();
        parameters.Add(x => x.ContentText, "Do you really want to delete this vacancy?");
        parameters.Add(x => x.ButtonText, "Delete");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<DialogMudBlazor>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            try
            {
                await TrainingService.Delete(slug);

                Snackbar.Add($"Deleted", Severity.Success);
                trainings.Remove(vacancy);

                Clear();
            }
            catch (Exception)
            {
                Snackbar.Add("Server is not responding, try latter", Severity.Error);
            }
            StateHasChanged();
        }
    }


    private async Task OnEditClick(string slug)
    {
        var vacancy = await TrainingService.GetBySlug(slug);
        if (vacancy != null)
        {
            createOrEditHeader = $"Edit {vacancy.Title}";
            TrainingService.createCommand.Title = vacancy.Title;
            TrainingService.createCommand.ShortDescription = vacancy.ShortDescription;
            TrainingService.createCommand.Description = vacancy.Description;
            TrainingService.createCommand.Duration = vacancy.Duration;
            TrainingService.createCommand.EndDate = vacancy.EndDate;
            TrainingService.createCommand.PublishDate = vacancy.PublishDate;
            TrainingService.createCommand.CategoryId = vacancy.CategoryId;
            TrainingService.createCommand.Fees = vacancy.Fees;
            isInserting = true;
            isUpdating = false;
            panelOpenState = true;
            UpdateSlug = slug;
            Questions = vacancy.VacancyQuestions.Select(v =>
                new VacancyQuestionDto
                {
                    Question = v.Question
                }
                ).ToList();
            Tasks = vacancy.VacancyTasks.Select(v =>
                new VacancyTaskDto
                {
                    Title = v.Title,
                    Description = v.Description,
                    Template = v.Template,
                    Test = v.Test
                }).ToList();
        }
    }

    private void RemoveQuestion(string question)
    {
        var q = Questions.FirstOrDefault(t => t.Question == question);
        Questions.Remove(q);
    }

    private void RemoveTask(string title)
    {
        var r = Tasks.FirstOrDefault(t => t.Title == title);
        Tasks.Remove(r);
    }

    private async Task LoadData()
    {
        try
        {
            trainings = (await TrainingService.GetAll()).Items;
            categories = await CategoryService.GetAllCategory();
        }
        catch (Exception)
        {
            serverError = true;
            StateHasChanged();
        }
    }

    private async Task HandleSubmit()
    {
        if (endDate_Time.HasValue)
            TrainingService.createCommand.EndDate += endDate_Time.Value;

        if (publishDate_Time.HasValue)
            TrainingService.createCommand.PublishDate += publishDate_Time.Value;
        try
        {
            var catId = categories.FirstOrDefault(c => c.Name == selectedCategory).Id;
            TrainingService.createCommand.CategoryId = catId;
            TrainingService.createCommand.VacancyQuestions = Questions;
            TrainingService.createCommand.VacancyTasks = Tasks;
            var result = await TrainingService.Create();
            if (result.IsSuccessStatusCode)
            {
                Snackbar.Add($"{TrainingService.createCommand.Title} created", Severity.Success);
            }
            else
            {
                Snackbar.Add((await result.Content.ReadFromJsonAsync<CustomProblemDetails>()).Detail, Severity.Error);
            }
            await LoadData();
            Clear();
        }
        catch (Exception)
        {
            Snackbar.Add("Server is not responding, try latter", Severity.Error);
        }
    }

    private async Task HandleUpdate()
    {
        if (endDate_Time.HasValue)
            TrainingService.createCommand.EndDate += endDate_Time.Value;

        if (publishDate_Time.HasValue)
            TrainingService.createCommand.PublishDate += publishDate_Time.Value;
        TrainingService.createCommand.VacancyQuestions = Questions;
        TrainingService.createCommand.VacancyTasks = Tasks;
        var catId = categories.FirstOrDefault(c => c.Name == selectedCategory).Id;
        TrainingService.createCommand.CategoryId = catId;
        await TrainingService.Update(UpdateSlug);
        await LoadData();
        Clear();
    }

    public void AddQuestions()
    {
        Questions.Add(new VacancyQuestionDto { Question = newQuestion });
        newQuestion = "";
    }

    public async void AddTask()
    {
        Tasks.Add(new VacancyTaskDto
        {
            Title = newTitle,
            Description = newDescription,
            Template = await _editorTemplate.GetValue(),
            Test = await _editorTest.GetValue()
        });
        newTitle = "";
        newDescription = "";
    }

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            await Task.Delay(1);
            AddQuestions();
            AddTask();
        }
    }

    void HandleCancel()
    {
        Clear();
    }

    private void Clear()
    {
        createOrEditHeader = "New Internship Vacancy";
        TrainingService.createCommand.Title = string.Empty;
        TrainingService.createCommand.ShortDescription = string.Empty;
        TrainingService.createCommand.Description = string.Empty;
        TrainingService.createCommand.Fees = 0;
        TrainingService.createCommand.Duration = 0;
        TrainingService.createCommand.EndDate = DateTime.Now;
        TrainingService.createCommand.PublishDate = DateTime.Now;
        isInserting = false;
        isUpdating = true;
        panelOpenState = false;
        UpdateSlug = string.Empty;
        Questions.Clear();
        Tasks.Clear();
    }

}