@page "/UserRoles/{Username}"
<MudText Typo="Typo.h4"><b>@Username</b></MudText>

@if (userSkills == null)
{
    <div style="text-align: center;">
        <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true"/>
    </div>
}
else{
<MudGrid>
    <MudItem lg="6" sm="12" xs="12" md="6">
        <MudGrid>
            <MudItem lg="12" xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>Personal Data</b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <style>
							td {
								vertical-align: top;
								text-align: left;
								padding-bottom: 0px;
							}
						</style>
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th style="width:25px;"> </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>First Name:</td>
                                <td></td>
                                <td>@personalData.FirstName</td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td></td>
                                <td>@personalData.LastName</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td></td>
                                <td>
                                    @personalData.Email<br/>
                                    @if (personalData.EmailConfirmed)
                                    {
                                        <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Check">Confirmed</MudChip>
                                    }
                                    else
                                    {
                                        <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.Warning">UnConfirmed</MudChip>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Phone Number:</td>
                                <td></td>
                                <td>
                                    @personalData.PhoneNumber<br/>
                                    @if (personalData.PhoneNumberConfirmed)
                                    {
                                        <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Check">Confirmed</MudChip>
                                    }
                                    else
                                    {
                                        <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.Warning">UnConfirmed</MudChip>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>DateOfBirth:</td>
                                <td></td>
                                <td>@personalData.DateOfBirth.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td></td>
                                <td>@personalData.Gender</td>
                            </tr>
                            <tr>
                                <td>About:</td>
                                <td></td>
                                <td>@personalData.AboutMyself</td>
                            </tr>
                            </tbody>
                        </table>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem lg="12" xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>Roles</b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudStack Row="true">
                            <MudTextField Label="Role" Variant="Variant.Outlined"  @bind-Value="NewRoleName"/>
                            <MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.Add" OnClick="@OnAddClick"/>
                        </MudStack>
                        <br/>
                        <MudTable Items="@Roles" Dense="true" Hover="true" Breakpoint="@Breakpoint.None">
                            <RowTemplate>
                                <MudTd Style="width:100%">@context.RoleName</MudTd>
                                <MudTd Style="width:auto">
                                    <MudIconButton @onclick="() => OnDeleteClick(context.Slug)" Icon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudIconButton>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudCardContent>
                </MudCard>

            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem lg="6" sm="12" xs="12" md="6">
        <MudGrid>
            <MudItem lg="12" xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>Skills</b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @foreach (var skill in userSkills.Skills)
                        {
                            <MudChip>@skill</MudChip>
                        }
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem lg="12" xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>History</b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudTimeline TimelineAlign="TimelineAlign.Start" TimelinePosition="TimelinePosition.Start">
                            <MudTimelineItem Color="Color.Dark" Elevation="25" Size="Size.Medium">
                                @* 	<ItemOpposite>
								<MudText Color="Color.Dark" Typo="Typo.h6">Aug 2020</MudText>
								</ItemOpposite> *@
                                <ItemDot>
                                    <MudIcon Icon="@Icons.Material.Filled.Timelapse"/>
                                </ItemDot>
                                <ItemContent>
                                    <MudPaper Elevation="0" Class="mt-n1">
                                        <MudText Color="Color.Dark" Typo="Typo.h6">Apply to JobVacancy</MudText>
                                        <MudText Typo="Typo.body2" GutterBottom="true">
                                            <b>10/03/2023 08:45AM</b>
                                        </MudText>
                                        <MudText Typo="Typo.body2">A repository pops up on Github named MudBlazor.</MudText>
                                        <MudText Typo="Typo.body2">The development has already started and the most common components can be found already.</MudText>
                                    </MudPaper>
                                </ItemContent>
                            </MudTimelineItem>
                            <MudTimelineItem Color="Color.Primary" Elevation="25" Size="Size.Medium">
                                @* <ItemOpposite>
								<MudText Color="Color.Primary" Typo="Typo.h6">Oct 2020</MudText>
								</ItemOpposite> *@
                                <ItemDot>
                                    <MudIcon Icon="@Icons.Material.Filled.Check"/>
                                </ItemDot>
                                <ItemContent>
                                    <MudPaper Elevation="0" Class="mt-n1">
                                        <MudText Color="Color.Primary" Typo="Typo.h6">Passed the Test</MudText>
                                        <MudText Typo="Typo.body2" GutterBottom="true">
                                            <b>10/10/2023 10:00AM</b>
                                        </MudText>
                                    </MudPaper>
                                </ItemContent>
                            </MudTimelineItem>
                            <MudTimelineItem Color="Color.Success" Elevation="25" Size="Size.Large">
                                @* 	<ItemOpposite>
								<MudText Color="Color.Secondary" Typo="Typo.h6" GutterBottom="true">Nov 2020</MudText>
								</ItemOpposite> *@
                                <ItemDot>
                                    <MudIcon Icon="@Icons.Material.Filled.Person"/>
                                </ItemDot>
                                <ItemContent>
                                    <MudPaper Elevation="0" Class="mt-n1">
                                        <MudText Color="Color.Success" Typo="Typo.h6">Intern</MudText>
                                        <MudText Typo="Typo.body2" GutterBottom="true">
                                            <b>10/30/2023 03:30PM</b>
                                        </MudText>

                                        <MudText Typo="Typo.body2">MudBlazor gets its first minor with version 1.1.0.</MudText>
                                        <MudText Typo="Typo.body2">TimerPicker, AutoComplete and Charts join the library as well as T versions of our inputs and selects.</MudText>
                                    </MudPaper>
                                </ItemContent>
                            </MudTimelineItem>
                        </MudTimeline>
                    </MudCardContent>
                </MudCard>

            </MudItem>

        </MudGrid>


    </MudItem>
</MudGrid>
}